{{ template "base" . }}

{{ define "styles" }}
{{ end }}

{{ define "scripts" }}
{{ end }}

{{ define "main" . }}
<div class="main__container container container__vertical">
    <div
        class="container__elem container_vertical all_seances"
        style="width: 100%"
    >
        <h1 class="h1" style="text-align: center">All seances</h1>
        <div class="container container__elem cards_block">
            <div
              class="cards_horizontal"
              style="flex-wrap: wrap; justify-content: space-around"
            >
            {{ range . }}
                <div class="card">
                    <div class="card__img">
                        <img src="{{ .ImageUrl }}" alt="" />
                    </div>
                    <div class="card__info">
                        <p class="card__info__title">{{ .Title }}</p>
                        <p class="card__info__rating">Rating {{ .Rating }}</p>
                        <a href="/" class="card__info__btn">Book ticket</a>
                    </div>
                </div>
            {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}