{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Harlal cinema</title>

    <link rel="stylesheet" href="./static/css/nullstyle.css" />
    <link rel="stylesheet" href="./static/css/style.css" />

    <!-- HERE OTHER STYLES which will be defined in other templates -->
    {{ template "styles" .}}

    <script
      src="https://kit.fontawesome.com/cba5d3da34.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <div class="header__container container container_horizontal">
        <div class="container__elem container__logo logo">
          <a href="/home" class="logo__link">
            <img src="./static/img/logo.png" alt="" />
            <p class="container__logo__text logo__text">Kharlal<br />cinema</p>
          </a>
        </div>

        <div class="container__elem header__container__list_block">
          <ul class="header__container__list_block__list list_horizontal list">
            <li class="list_item"><a href="/all-seances">All seances</a></li>
          </ul>
        </div>

        <div class="container__elem header__container__login_register">
          <ul class="list_horizontal list">
            <li class="list_item">
              <a href="/login">Login</a>
            </li>
            <li class="list_item"><a href="/register">Register</a></li>
          </ul>
        </div>

        <div class="container__elem header__container__user">
          <div class="header__container__user__icon_block">
            <i class="fa-solid fa-user header__container__user__icon"></i>
          </div>
          <div class="header__container__user__btns_block">
            <ul
              class="list_vertical header__container__user__btns_block__list list"
            >
              <li class="list_item">
                <a href="/my-tickets">
                  <i
                    class="fa-solid fa-ticket header__container__user__icon"
                  ></i>
                  <span>My tickets</span>
                </a>
              </li>
              <li class="list_item">
                <a href="/my-tickets">
                  <i
                    class="fa-solid fa-right-from-bracket header__container__user__icon"
                  ></i>
                  <span>Log out</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <!-- HERE MAIN tmpl -->
    <main class="main">
        {{ template "main" . }}
    </main>

    <footer class="footer">
      <div class="footer__container container container_horizontal">
        <div class="container__elem footer__container__list_block">
          <ul class="footer__container__list_block__list list_vertical list">
            <li class="list_item"><a href="">All seances</a></li>
            <li class="list_item"><a href="">Book ticket</a></li>
          </ul>
        </div>
        <div class="container__elem container__logo logo">
          <a href="/" class="logo__link">
            <img src="./assets/images/logo.png" alt="" />
            <p class="container__logo__text logo__text footer__logo__text">
              Kharlal<br />cinema
            </p>
          </a>
        </div>
        <div class="container__elem footer__container__up_btn_block">
          <button onclick="onTop()">
            <i class="fa-solid fa-arrow-up"></i>
          </button>
        </div>
      </div>
    </footer>

    <script src="./static/js/on-top.js"></script>

    <!-- HERE OTHER JavaScript tags, whch will be defined from other templates -->
    {{ template "scripts" .}}
  </body>
</html>
{{ end }}