{{ template "base" . }}

{{ define "styles" }}
<link rel="stylesheet" href="./static/css/home.css">
{{ end }}

{{ define "scripts" }}
{{ end }}

{{ define "main" }}
<div class="main__container container container_vertical">
    <div class="container__elem container__vertical premiers_block">
        <h1 class="premieres_heading h1">Premieres</h1>
        <div class="container__elem container cards_block">
            <div class="premiers cards_horizontal">
                {{ range .Movies }}
                    <div class="premier card">
                        <div class="card__img">
                            <img src="/images/{{ .ImageUrl }}" alt="" />
                        </div>
                        <div class="card__info">
                            <p class="card__info__title">{{ .Title }}</p>
                            <p class="card__info__rating">Rating {{ .Rating }}</p>
                            <a href="/about-film?id={{ .ID }}" class="card__info__btn" data-id="{{ .ID }}">More!</a>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}