.login_form,
.register_form {
  align-items: center;
}
.label {
  display: flex;
  flex-direction: column;
  font-size: 17px;
}
input {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  opacity: 0.5;
  font-size: 18px;
}
input:focus {
  opacity: 1;
}
.login_btn,
.register_btn {
  padding: 5px 15px;
  margin-top: 10px;
  background-color: aquamarine;
  border-radius: 5px;
  font-size: 17px;
}
.login_btn:hover,
.register_btn:hover {
  background-color: rgb(169, 100, 233);
}
